## -*- coding: utf-8 -*-
<%inherit file="/manage/index.tmpl" />

<%block name="top_menu">
<ul>
  <li><a href="#" class="button">用户管理</a></li>
</ul>
</%block>

<%block name="main_content">
<div class="div-box">
  <h4 class="div-box-title">用户管理</h4>
  <div class="div-box-content">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>用户名</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        %for u in users:
        <tr>
          <td>${u.user_id}</td>
          <td>${u.name}</td>
          <td><a class="edit-user" href="javascript:void(0);" name="${u.user_id}">编辑</a>|
			<a class="disabled-user" href="javascript:void(0);" data-disabled=${u.disabled}
       name="${u.user_id}">${ u"启用" if u.disabled else u"禁用"}</a>
		  </td>
        </tr>
        %endfor
      </tbody>
    </table>
  </div>
  <div id="edit-box">
		用户名:<input type="text" id="edit-username" />
  </div>
</div>

<div class="div-box">
  <h4 class="div-box-title">用户添加</h4>
  <div class="div-box-content">
    <form name="add_user_form" class="simple-form" action="/manage/user_add" method="post">
      <div class="simple-form-line">
        <label class="simple-form-cell" for="user_name">用户名</label>
        <input class="simple-form-cell" type="text" name="name" id="user_name" />
        <span class="simple-form-cell"></span>
      </div>

      <div class="simple-form-line">
        <label class="simple-form-cell" for="user_password">密码</label>
        <input class="simple-form-cell" type="password" name="password" id="user_password" />
        <span class="simple-form-cell"></span>
      </div>

      <div class="simple-form-line">
        <label class="simple-form-cell" for="user_repassword">重复密码</label>
        <input class="simple-form-cell" type="password" name="repassword" id="user_repassword" />
        <span class="simple-form-cell"></span>
      </div>
      <div class="simple-form-line">
      <input type="submit" class="button simple-form-cell" value="提交" />
      </div>
    </form>
    
  </div>
</div>

<script type="text/javascript">
	$(function() {

		$('#add_user_form').submit(function() {
			$.ajax({
				url: $(this).attr('action'),
				type: $(this).attr('method'),
				data: $(this).serialize(),
				dataType: 'json',
				success: function(data) {
					if (data) {
						alert(data.msg);
					}
				},
				error: function() {
					alert('AJAX ERROR!!!');
				}, 
			});

			return false;
		});

    /*delete user*/
    $('.disabled-user').each(function(){
      $(this).click(function(){
        var disabled=$(this).attr("data-disabled");
        var deal=disabled=="True"?'启用':'禁用';
        if(confirm('确定要'+deal+'该用户吗?'))
          $.post('/manage/delete',
            {
              id:$(this).attr("name"),
              disabled:disabled
            },
            function(r){
              if(r.Succeed){
                alert(deal+'成功！');
                window.location.reload();
              }else{
                alert(r.Message);
              }
            }, 'json'
          );
      }); 
    });
	});
</script>
</%block>
