## -*- coding: utf-8 -*-
<%inherit file="/manage/index.tmpl" />

<%block name="top_menu">
  <li class="active"><a href="/manage/user">用户管理</a></li>
</%block>

<%block name="main_content">

<div class="accordion" id="accordion_user_manage">
  
  <div class="accordion-group">
    <div class="accordion-heading">
      <h4 class="accordion-toggle" data-toggle="collapse" href="#user_manage">用户管理</h4>
    </div>
    <div id="user_manage" class="accordion-body collapse in">
      <div class="accordion-inner">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>ID</th>
              <th>用户名</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            % for u in users:
            <tr>
              <td>${u.user_id}</td>
              <td>${u.name}</td>
              <td><a class="edit-user" href="javascript:void(0);" name="${u.user_id}">编辑</a>|
			    <a class="disabled-user" href="javascript:void(0);" data-disabled=${u.disabled}
                   name="${u.user_id}">${ u"启用" if u.disabled else u"禁用"}</a>
		      </td>
            </tr>
            % endfor
          </tbody>
        </table>
      </div>

      <div class="span12">
        <div id="edit-box" class="control-group">
          <label for="edit-username" class="control-label">用户名</label>
          <div class="controls">
            <input type="text" id="edit-username" />
          </div>
        </div>
      </div>
      
    </div>
  </div>
  
  <div class="accordion-group">
    <div class="accordion-heading">
      <h4 class="accordion-toggle" data-toggle="collapse" href="#user_add">用户添加</h4>
    </div>
    <div id="user_add" class="accordion-body collapse in">
      <div class="accordion-inner">
        <form name="add_user_form" class="form-horizontal" action="/manage/user_add" method="post">
          <div class="control-group">
            <label class="control-label" for="user_name">用户名</label>
            <div class="controls">
              <input type="text" name="name" id="user_name" />
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="user_password">密码</label>
            <div class="controls">
                 <input type="password" name="password" id="user_password" />
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="user_repassword">重复密码</label>
            <div class="controls">
              <input class="" type="password" name="repassword" id="user_repassword" />
            </div>
          </div>
          <div class="controls">
            <input type="submit" class="btn" value="提交" />
          </div>
          
        </form>
      </div>
    </div>
  </div>
  
</div>

<script type="text/javascript">
	$(function() {

		$('#add_user_form').submit(function() {
			$.ajax({
				url: $(this).attr('action'),
				type: $(this).attr('method'),
				data: $(this).serialize(),
				dataType: 'json',
				success: function(data) {
					if (data) {
						alert(data.msg);
					}
				},
				error: function() {
					alert('AJAX ERROR!!!');
				}, 
			});

			return false;
		});

    /*delete user*/
    $('.disabled-user').each(function(){
      $(this).click(function(){
        var disabled=$(this).attr("data-disabled");
        var deal=disabled=="True"?'启用':'禁用';
        if(confirm('确定要'+deal+'该用户吗?'))
          $.post('/manage/delete',
            {
              id:$(this).attr("name"),
              disabled:disabled
            },
            function(r){
              if(r.Succeed){
                alert(deal+'成功！');
                window.location.reload();
              }else{
                alert(r.Message);
              }
            }, 'json'
          );
      }); 
    });
	});
</script>


</%block>
