## -*- coding: utf-8 -*-
<%inherit file="/manage/index.tmpl" />

<%block name="top_menu">
<ul>
  <li><a href="#" class="button">查询用户</a></li>
  <li><a href="/manage/user_add" class="button">添加用户</a></li>
  <li><a href="#" class="button">删除用户</a></li>
</ul>
</%block>

<%block name="main_content">
<div class="div-box">
  <h4 class="div-box-title">用户管理</h4>
  <div class="div-box-content">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>用户名</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        % for u in users:
        <tr>
          <td>${u.user_id}</td>
          <td>${u.name}</td>
          <td><a class="edit-user" href="javascript:void(0);" name="${u.id}">编辑</a>|
			<a class="disabled-user" href="javascript:void(0);" name="${u.id}">禁用</a>
		  </td>
        </tr>
        % endfor
      </tbody>
    </table>
  </div>
  <div id="edit-box">
		用户名:<input type="text" id="edit-username" />
  </div>
</div>
</%block>
<script type="text/javascript">
	$(function(){
	
		/*edit user*/
		$('.edit-user').each(function(){
			$(this).click(function(){
				$('#edit-box').dialog({
					title:'编辑用户',
					height:300,
					width:400,
					modal:true,
					buttons:{
						'确定':funciton(){
							$.post('',
							{},
							function(r){
								if(r.Succeed){
									
								}
								else{
									alert(r.Message);
								}
							},'json');
						},
						'取消':function(){
							$(this).dialog('close');
						}
					}
				});
			});
		});
		
		/*delete user*/
		$('.disabled-user').each(function(){
			$(this).click(function(){
				if(confirm('确定要禁用该用户吗?'))
					$.post('/manage/userdisabled',
						{id:$(this).attr("name")},
						function(r){
							if(r.Succeed){
								alert("删除成功！");
								window.location.reload();
							}else{
								alert(r.Message);
							}
						}, 'json'
					);
			}); 
		});
	});
</script>
