<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>SignIn</title>
</head>

<body>
    <form action='/Sign' method='post'>
        <div>
            username:<input type="text" id="username" /><br />
            password:<input type="password" id="password" />
        </div><input type="submit" value="submit" />
    </form>
</body>
</html>
