## -*- coding: utf-8 -*-
<%inherit file="/manage/index.tmpl" />

<%block name="top_menu">
<li class="active"><a href="/manage/commodity">商品管理</a></li>
<li><a href="/manage/commodity_type">商品类型</a></li>
</%block>

<%block name="javascript">
<script type="text/javascript" src="/js/jquery-ui-1.10.2.custom.min.js"></script>
<script type="text/javascript" src="/js/figure-cut.js" ></script>
</%block>

<%block name="style">
<link href="/css/themes/jquery-ui-1.10.2.custom.min.css" rel="stylesheet" type="text/css" />
</%block>


<%block name="main_content">

<div class="accordion" id="accordion_commodity_manage">
  
<div class="accordion-group">
  <div class="accordion-heading">
    <h4 class="accordion-toggle" data-toggle="collapse" href="#commodity_manage">商品管理</h4>
  </div>
  <div id="commodity_manage" class="accordion-body collapse in">
    <div class="accordion-inner">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>商品ID</th>
            <th>商品简称</th>
            <th>商品类型</th>
            <th>商品名称</th>
            <th>缩略图</th>
          </tr>
        </thead>
        <tbody>
          % for comm_item in commodity:
          <tr>
            <td style="vertical-align: middle;">${ comm_item['commodity_id'] }</td>
            <td style="vertical-align: middle;">${ comm_item['brief_name'] }</td>
            <td style="vertical-align: middle;">${ comm_type_name[comm_item['comm_type_id']] }</td>
            <td style="vertical-align: middle;">${ comm_item['comm_name'] }</td>
            <td><img src="/js/holder.js/50x50" /></td>
          </tr>
          % endfor
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="accordion-group">
  <div class="accordion-heading">
    <h4 class="accordion-toggle" data-toggle="collapse" href="#commodity_add">商品添加</h4>
  </div>
  <div id="commodity_add" class="accordion-body collapse in">
    <div class="accordion-inner container-fluid">
      <div class="span6">
        <form id="commodityAdd_form" class="form-horizontal" action="/manage/commodity/add" method="post" style="margin-left: -50px;">
          <div class="control-group">
            <label for="commodity_name" class="control-label">商品名称</label>
            <div class="controls">
              <input type="text" name="commodity_name" id="commodity_name" />
              <span class="help-inline label label-important"></span>
            </div>
          </div>

          <div class="control-group">
            <label for="commodity_type" class="control-label">商品类型</label>
            <div class="controls">
	      <input type="hidden" name="commodity_type" id="commodity_type" />
              <select name="commodity_type_0" id="commodity_type_0" size="1" class="span4">
                <option value=""></option>
		% for t_item in commodity_type_root:
		<option value="${ t_item['commodity_type_id'] }">${ t_item['type_name'] }</option>
		% endfor
              </select>

              <span class="help-inline label label-important"></span>
	      
            </div>
          </div>

          <div class="control-group">
            <label for="commodity_desc" class="control-label">商品描述</label>
            <div class="controls">
              <textarea class="span" rows="5" name="commodity_desc" id="commodity_desc"></textarea>
              <span class="help-inline label label-important"></span>
            </div>
          </div>

          <div class="controls">
            <input type="submit" class="btn" value="添加商品" />
          </div>
          
        </form>
      </div>

      <div class="span6 container-fluid" style="border-left: 1px solid #CCC">
        <div class="row-fluid" id="figure_cut_div" img-src="/static_file/upload/test.jpg"></div>
        <div class="row-fluid" style="margin: 5px 0;">
	  <form name="upload_figure_form" id="upload_figure_form" action="/static_file/upload" method="post" style="display:none;" target="upload_target" enctype="multipart/form-data">
            <input type="file" id="upload_figure" name="upload_files" style="display: none;" />
	    <input type="hidden" id="upload_success_script" name="upload_success_script" />
	    <input type="hidden" id="upload_fail_script" name="upload_fail_script" />
	  </form>
	  <iframe name="upload_target" id="upload_target" style="display:none; width:0px; height:0px; border:none;" src="about:blank">
	  </iframe>
          <button class="btn" id="btn_upload_figure">上传图像</button>
        </div>
        <div class="row-fluid" >
          <img src="/js/holder.js/200x200" style="vertical-align: top;" />
          <img src="/js/holder.js/100x100" style="vertical-align: top;" />
          <img src="/js/holder.js/50x50" style="vertical-align: top;" />
        </div>
      </div>
      
    </div>
  </div>
</div>

</div>

<script type="text/javascript">
$(function() {

    $('#upload_figure').change(function() { // upload figure
        var val = $(this).val();
        if (val) {
	    $('#upload_success_script').val('alert("successful!!!");');
	    $('#upload_fail_script').val('alert("failed!!!");');
	    $('#upload_figure_form').submit();
        } else {
            alert('请选择上传的图片');
        }
    });

    $('#btn_upload_figure').click(function() {
        $('#upload_figure').click();
    });
    
    $('#commodityAdd_form').submit(function() {
        var form = $(this);
	$.ajax({
	    url: form.attr('action'),
	    type: form.attr('method'),
	    dataType: 'json',
	    data: {
		commodity_name: $('#commodity_name').val(),
		commodity_type_id: $('#commodity_type').val(),
		commodity_desc: $('#commodity_desc').val(),
	    },
	    success: function(data) {
		if (data) {
		    alert(data.msg);
		}
	    },
	    error: function() {
		alert('AJAX ERROR!!!');
	    },
	});
	return false;
    });
    
    
    function createTypeSelect(num, types) {
	var n_sel = $('<select>');
	n_sel.attr({
	    name: 'commodity_type_' + num,
	    id: 'commodity_type_' + num,
	    class: 'span4',
	});
	
	var n_opt = $('<option>');
	n_opt.val('');
	n_opt.html('');
	n_opt.attr('selected', 'selected');
	n_sel.append(n_opt);
	for (var i=0; i<types.length; i++) {
	    n_opt = $('<option>');
	    n_opt.val(types[i].id);
	    n_opt.html(types[i].name);
	    n_sel.append(n_opt);
	}
	
	n_sel.change(function() {
	    commTypeChange_event($(this));
	});
	return n_sel;
    }
    
    function commTypeChange_event(element) {
	var sel = $(element);
	sel.nextAll('select').remove();
	var val = sel.val();
	if (val) {
	    $.ajax({
		url: '/manage/commodity_type',
		type: 'post',
		dataType: 'json',
		data: { type_parent_id: val },
		success: function(data) {
		    if (data) {
			var num = parseInt(sel.attr('name').split('_')[2]);
			sel.after(createTypeSelect(num+1, data.types));
		    }
		},
		error: function() {
		    alert('AJAX ERROR!!!');
		}, 
	    });
	} else { // val = '' or val = 0
	    val = sel.prev('select').val();
	}
	$('#commodity_type').val(val);
    }
    
    $('#commodity_type_0').change(function() {
	commTypeChange_event($(this));
    });

    $('#figure_cut_div').figure_cut();
    
});
</script>

</%block>
