## coding=utf-8

<%inherit file="base.tmpl" />


<%block name="page_top_left">

<%
   import web
   session = web.ctx.session
   if 'curr_user' not in session:
       raise web.seeother('/manage/login')
   import townChiHuo.models.user as user
   curr_user = user.User(doc=session['curr_user'])
%>


<span style="line-heigth: 20px; vertical-align: top; float: right; font-weight: bold;">2013-3-27 23:11:11 ${ curr_user.name }</span>
</%block>
