## -*- coding: utf-8 -*-

<%inherit file="user.tmpl" />

<%block name="main_content">
<div class="div-box">
  <h4 class="div-box-title">用户添加</h4>
  <div class="div-box-content">
    <form name="add_user_form" action="/manage/user_add" method="post">
      <div class="form-row">
        <label class="form-label" for="user_name">用户名</label>
        <input class="form-input" type="text" name="name" id="user_name" />
        <span class="form-msg"></span>
      </div>

      <div class="form-row">
        <label class="form-label" for="user_password">密码</label>
        <input class="form-input" type="password" name="password" id="user_password" />
        <span class="form-msg"></span>
      </div>

      <div class="form-row">
        <label class="form-label" for="user_repassword">重复密码</label>
        <input class="form-input" type="password" name="repassword" id="user_repassword" />
        <span class="form-msg"></span>
      </div>
      <input type="submit" class="button" value="提交" />
    </form>
    
  </div>
</div>
</%block>
