/* commodity details page style */
.comm-page {
    margin-left: auto;
    margin-right: auto;

    /* for test */
    min-height: 600px;
}

.comm-head {
    position: relative;

    padding-left: 350px;
}

.comm-head-l {
    position: absolute;
    top: 0px;
    left: 0px;    
}

.comm-figure {

}

.comm-head-r {
    /* for test 
    background-color: lightblue; 
    min-height: 400px;    */
}

.comm-property {
    padding: 5px;
}

.comm-title {
    padding: 5px;
    line-height: 30px;
    font: bold 18px arial;
    text-decoration: underline;
}

.comm-prop {
    margin: 5px 0 5px 0;
    line-height: 30px;
}

.comm-prop .comm-prop-n {
    padding: 2px 20px 5px 5px;
}

.comm-prop img {
    vertical-align: middle;
}

.comm-body {
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;

    /* for test */
    background-color: orange;
    min-height: 600px;
}

.comm-body-left {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 20%;
    display: block;

    /* for test */
    background-color: orangeRed;
    min-height: 600px;
}

.comm-body-main {
    display: block;
    margin-left: 20%;
    
    /* for test */
    min-height: 600px;
    background-color: lightgrey;
}


span.price {
    font: 600 28px arial;
    color: red;
}

span.old-price {
    font-weight: bold;
    text-decoration: line-through;
}


.comm-pick, .comm-pay-info {
    margin: 5px;

    border-top: 1px solid #CCCCCC;
}

.comm-submit {
    padding: 10px 0 10px 100px;
}

.comm-submit #comm_btn_addCart, .comm-submit #comm_btn_buyIm {
    width: 150px;
    height: 30px;
    border: none;
    background-color: orangered;
    font: 600 16px arial;
    color: white;
    cursor: pointer;
}

