<!DOCTYPE HTML>
<html lang="zh-ch">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="keywords" content="小城吃货,小城,吃货,管理系统" />
    <link rel="stylesheet" type="text/css" href="/css/manage_index.css" />
    <link rel="stylesheet" type="text/css" href="/css/common_style.css" />
    <title>townChiHuo.com管理系统</title>
  </head>
  <body>

    <div class="page-width-960">
      <!-- page head  -->      
      <div class="header">
	<div class="header-left">
	  <img src="" width="250px" height="50px" />
	</div>
	<div class="header-right">
	  <div class="sign-up-area">
	    <a href="" class="a-link">登录</a>
	    <a href="" class="a-link">注册</a>
	  </div>
	  <div>
	    <input type="text" name="search_input" width="100" />
	    <a href="" class="button">查找</a>
	  </div>
	</div>
      </div>
      <!-- page head end -->

      <!-- page body start -->
      <div class="body">
	<div class="body-left"></div>
	<div class="body-right"></div>
      </div>
      <!-- page body end -->
      
    </div>
    
    
  </body>
<html>
