<html>
<head>
  <title>website index page</title>
</head>
<body>
  <div class="nav-bar">
    <ul>
      <li>index</li>
      <li>index</li>
      <li>index</li>
      <li>index</li>
    </ul>
  </div>
  <div class="content">
    ${ content }
  </div>
</body>
</html>
