## coding=utf-8

<%inherit file="base.tmpl" />

<%block name="page_body">
<div class="body-left clearfix">
  <div class="goods-snapshot">
    <img src="/images/goods_img.jpg" />
    <div class="goods-snapshot-describe">
      <div class="goods-name">
	商品名称abc商品名称abc商品名称abc商品名称abcasdf
      </div>
      <div class="goods-price">
	价格 : <span class="ce-yen">&yen</span> 100
      </div>
    </div>
  </div>
  <div class="goods-snapshot">
    <img src="images/goods_img.jpg" />
    <div class="goods-snapshot-describe">
      <div class="goods-name">
	商品名称abc商品名称abc商品名称abc商品名称abcasdf
      </div>
      <div class="goods-price">
	价格 : <span class="ce-yen">&yen</span> 100
      </div>
    </div>
  </div>
  <div class="goods-snapshot">
    <img src="images/goods_img.jpg" />
    <div class="goods-snapshot-describe">
      <div class="goods-name">
	商品名称abc商品名称abc商品名称abc商品名称abcasdf
      </div>
      <div class="goods-price">
	价格 : <span class="ce-yen">&yen</span> 100
      </div>
    </div>
  </div>
  <div class="goods-snapshot">
    <img src="images/goods_img.jpg" />
    <div class="goods-snapshot-describe">
      <div class="goods-name">
	商品名称abc商品名称abc商品名称abc商品名称abcasdf
      </div>
      <div class="goods-price">
	价格 : <span class="ce-yen">&yen</span> 100
      </div>
    </div>
  </div>
  <div class="goods-snapshot">
    <img src="images/goods_img.jpg" />
    <div class="goods-snapshot-describe">
      <div class="goods-name">
	商品名称abc商品名称abc商品名称abc商品名称abcasdf
      </div>
      <div class="goods-price">
	价格 : <span class="ce-yen">&yen</span> 100
      </div>
    </div>
  </div>
  <div class="goods-snapshot">
    <img src="images/goods_img.jpg" />
    <div class="goods-snapshot-describe">
      <div class="goods-name">
	商品名称abc商品名称abc商品名称abc商品名称abcasdf
      </div>
      <div class="goods-price">
	价格 : <span class="ce-yen">&yen</span> 100
      </div>
    </div>
  </div>
  <div class="goods-snapshot">
    <img src="images/goods_img.jpg" />
    <div class="goods-snapshot-describe">
      <div class="goods-name">
	商品名称abc商品名称abc商品名称abc商品名称abcasdf
      </div>
      <div class="goods-price">
	价格 : <span class="ce-yen">&yen</span> 100
      </div>
    </div>
  </div>
  <div class="goods-snapshot">
    <img src="images/goods_img.jpg" />
    <div class="goods-snapshot-describe">
      <div class="goods-name">
	商品名称abc商品名称abc商品名称abc商品名称abcasdf
      </div>
      <div class="goods-price">
	价格 : <span class="ce-yen">&yen</span> 100
      </div>
    </div>
  </div>
  <div class="goods-snapshot">
    <img src="images/goods_img.jpg" />
    <div class="goods-snapshot-describe">
      <div class="goods-name">
	商品名称abc商品名称abc商品名称abc商品名称abcasdf
      </div>
      <div class="goods-price">
	价格 : <span class="ce-yen">&yen</span> 100
      </div>
    </div>
  </div>
  <div class="goods-snapshot">
    <img src="images/goods_img.jpg" />
    <div class="goods-snapshot-describe">
      <div class="goods-name">
	商品名称abc商品名称abc商品名称abc商品名称abcasdf
      </div>
      <div class="goods-price">
	价格 : <span class="ce-yen">&yen</span> 100
      </div>
    </div>
  </div>
  <div class="goods-snapshot">
    <img src="images/goods_img.jpg" />
    <div class="goods-snapshot-describe">
      <div class="goods-name">
	商品名称abc商品名称abc商品名称abc商品名称abcasdf
      </div>
      <div class="goods-price">
	价格 : <span class="ce-yen">&yen</span> 100
      </div>
    </div>
  </div>
  <div class="goods-snapshot">
    <img src="images/goods_img.jpg" />
    <div class="goods-snapshot-describe">
      <div class="goods-name">
	商品名称abc商品名称abc商品名称abc商品名称abcasdf
      </div>
      <div class="goods-price">
	价格 : <span class="ce-yen">&yen</span> 100
      </div>
    </div>
  </div>
</div>

<div class="body-right">body right body right body right body right body right body right body right body rightbody rightbody rightbody rightbody rightbody rightbody rightbody rightbody rightbody rightbody rightbody rightbody rightbody rightbody rightbody rightbody rightbody rightbody rightbody rightbody rightbody rightbody rightbody rightbody right</div>

</%block>
