<!DOCTPE HTML>
<html lang="zh-cn">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>website index page</title>
    <meta name="keywords" content="小城吃货,小城,吃货," />
    <link rel="stylesheet" type="text/css" href="/css/index.css" />
    <link rel="stylesheet" type="text/css" href="/css/common_style.css" />
  </head>
  <body>
    <!-- page head  -->
    <div class="page-width-960">
      <div class="header">
	<div class="header-left">
	  <img src="" width="250px" height="50px" />
	</div>
	<div class="header-right">
	  <div class="sign-up-area">
	    <a href="/login" class="a-link">登录</a>
	    <a href="/register" class="a-link">注册</a>
	  </div>
	  <div>
	    <input type="text" name="search_input" width="100" />
	    <a href="" class="button">查找</a>
	  </div>
	</div>
      </div>
    </div>
    <!-- page head end -->
    <!-- Nav bar -->
    <div class="nav-bar">
      <div class="page-width-960">
	<dl class="nav-bar-titlegrp">
	  <dt><a href="" class="a-link">index group</a></dt>
	  <dd>
	    <ul>
	      <li><a href="" class="a-link">index</a></li>
	      <li><a href="" class="a-link">index</a></li>
	      <li><a href="" class="a-link">index</a></li>
	      <li><a href="" class="a-link">index</a></li>
	    </ul>
	  </dd>
	</dl>
	<dl class="nav-bar-titlegrp">
	  <dt><a href="" class="a-link">index group</a></dt>
	  <dd>
	    <ul>
	      <li><a href="" class="a-link">index</a></li>
	      <li><a href="" class="a-link">index</a></li>
	      <li><a href="" class="a-link">index</a></li>
	      <li><a href="" class="a-link">index</a></li> 
	    </ul>
	  </dd>
	</dl>
      </div>
    </div>
    <!-- Nav bar end -->
    <!-- page body -->
    <div class="page-width-960 relative">
      <div class="body">

	<div class="body-left">
	  <div class="goods-snapshot">
	    <img src="images/goods_img.jpg" />
	    <div class="goods-snapshot-describe">
	      <div class="goods-name">
		商品名称abc商品名称abc商品名称abc商品名称abcasdf
	      </div>
	      <div class="goods-price">
		价格 : &yen; 100
	      </div>
	    </div>
	  </div>
	  <div class="goods-snapshot">
	    <img src="images/goods_img.jpg" />
	     <div class="goods-snapshot-describe">
	      <div class="goods-name">
		商品名称abc商品名称abc商品名称abc商品名称abcasdf
	      </div>
	      <div class="goods-price">
		价格 : &yen; 100
	      </div>
	    </div>
	  </div>
	  <div class="goods-snapshot">
	    <img src="images/goods_img.jpg" />
	     <div class="goods-snapshot-describe">
	      <div class="goods-name">
		商品名称abc商品名称abc商品名称abc商品名称abcasdf
	      </div>
	      <div class="goods-price">
		价格 : &yen; 100
	      </div>
	    </div>
	  </div>
	  <div class="goods-snapshot">
	    <img src="images/goods_img.jpg" />
	     <div class="goods-snapshot-describe">
	      <div class="goods-name">
		商品名称abc商品名称abc商品名称abc商品名称abcasdf
	      </div>
	      <div class="goods-price">
		价格 : &yen; 100
	      </div>
	    </div>
	  </div>
	  <div class="goods-snapshot">
	    <img src="images/goods_img.jpg" />
	     <div class="goods-snapshot-describe">
	      <div class="goods-name">
		商品名称abc商品名称abc商品名称abc商品名称abcasdf
	      </div>
	      <div class="goods-price">
		价格 : &yen; 100
	      </div>
	    </div>
	  </div>
	  <div class="goods-snapshot">
	    <img src="images/goods_img.jpg" />
	     <div class="goods-snapshot-describe">
	      <div class="goods-name">
		商品名称abc商品名称abc商品名称abc商品名称abcasdf
	      </div>
	      <div class="goods-price">
		价格 : &yen; 100
	      </div>
	    </div>
	  </div>
	  <div class="goods-snapshot">
	    <img src="images/goods_img.jpg" />
	     <div class="goods-snapshot-describe">
	      <div class="goods-name">
		商品名称abc商品名称abc商品名称abc商品名称abcasdf
	      </div>
	      <div class="goods-price">
		价格 : &yen; 100
	      </div>
	    </div>
	  </div>
	  <div class="goods-snapshot">
	    <img src="images/goods_img.jpg" />
	     <div class="goods-snapshot-describe">
	      <div class="goods-name">
		商品名称abc商品名称abc商品名称abc商品名称abcasdf
	      </div>
	      <div class="goods-price">
		价格 : &yen; 100
	      </div>
	    </div>
	  </div>
	  <div class="goods-snapshot">
	    <img src="images/goods_img.jpg" />
	     <div class="goods-snapshot-describe">
	      <div class="goods-name">
		商品名称abc商品名称abc商品名称abc商品名称abcasdf
	      </div>
	      <div class="goods-price">
		价格 : &yen; 100
	      </div>
	    </div>
	  </div>
	  <div class="goods-snapshot">
	    <img src="images/goods_img.jpg" />
	     <div class="goods-snapshot-describe">
	      <div class="goods-name">
		商品名称abc商品名称abc商品名称abc商品名称abcasdf
	      </div>
	      <div class="goods-price">
		价格 : &yen; 100
	      </div>
	    </div>
	  </div>
	  <div class="goods-snapshot">
	    <img src="images/goods_img.jpg" />
	     <div class="goods-snapshot-describe">
	      <div class="goods-name">
		商品名称abc商品名称abc商品名称abc商品名称abcasdf
	      </div>
	      <div class="goods-price">
		价格 : &yen; 100
	      </div>
	    </div>
	  </div>
	  <div class="goods-snapshot">
	    <img src="images/goods_img.jpg" />
	     <div class="goods-snapshot-describe">
	      <div class="goods-name">
		商品名称abc商品名称abc商品名称abc商品名称abcasdf
	      </div>
	      <div class="goods-price">
		价格 : &yen; 100
	      </div>
	    </div>
	  </div>
	</div>

	<div class="body-right">body right body right body right body right body right body right body right body rightbody rightbody rightbody rightbody rightbody rightbody rightbody rightbody rightbody rightbody rightbody rightbody rightbody rightbody rightbody rightbody rightbody rightbody rightbody rightbody rightbody rightbody rightbody rightbody right</div>

      </div>
    </div>
    <!-- page body end -->
    <!-- page footer -->
    <hr class="horizontal-seperate clear" />
    <div class="page-width-960 footer text-center">
      copyright &copy; <b>townChiHuo.com</b><br />
      bamboo @2013
    </div>
    <!-- page footer end -->
</div>
</body>
</html>
