<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>SignIn</title>
  </head>

  <body>
    <form action="/login" method="post">
      <div>
        username:<input name="name" type="text" id="username" /><br />
        password:<input name="password" type="password" id="password" /><br />
        <input type="submit" value="submit" />
      </div>
    </form>
  </body>
</html>
