/* 后台管理页面 */

.page-top {
    position: relative;
    display: block;
    height: 50px;
    width: 100%;
    z-index: 0;
}

.left-page {
    position: relative;
    width: 200px;
    border-top: solid 2px #039;
    z-index: 1;
}

.main-container {
    position: absolute;
    top: 20px;
    width: 100%;
    min-width: 760px;
    z-index: 0;
}

.main-page-body {
    margin-left: 200px;
    min-height: 580px;
    border-left: solid 2px #039;
    border-top: solid 2px #039;
    border-bottom: solid 2px #039;
}


.left-page .lc_main_menu {
    font-size: 12px;
    font-weight: bold;
    color: #FFF;
    position: relative;
}

.left-page .lc_sub_menu {
    font-size: 12px;
    font-weight: bold;
    color: #039;
    position: relative;
}

.left-page .lc_main_menu ul {
    list-style: none;
    margin-top: 10px;
    margin-left: 2em;
}

.left-page .lc_sub_menu ul {
    list-style: none;
    margin-top: 10px;
    margin-left: 3em;
    border-top: solid 1px #039;
}

.lc_main_menu ul li {
    height: 30px;
    background: #3B5998;
    text-align: right;
    line-height: 30px;
    margin-top: 5px;
    padding-right: .5em;
}

.lc_sub_menu ul li {
    height: 29px;
    border-bottom: solid 1px #039;
    line-height: 30px;
    text-align: right;
    padding-right: .5em;
}

.main-page-body .mc-top-menu {
    border-bottom: solid #CCC 1px;
    height: 30px;
    padding-right: 2px;
}

.mc-top-menu ul {
    display: inline-block;
    list-style: none;
    color: #039;
    font-weight: bold;
    font-size: 12px;
    overflow: hidden;
}

.mc-top-menu ul li {
    height: 20px;
    margin: 4px 0px 4px 5px;
    line-height: 20px;
    text-align: center;
    float: left;
}

.mc-top-menu .mc-top-search {
    float: right;
    margin-top: 4px;
}

.mc-top-search .search_submit {
    display: inline-block;
    height: 22px;
    border: solid 1px #3B5998;
    margin: 0px;
    background: #3B5998;
    color: #FFF;
    position: relative;
    left: -5px;
    font-weight: bold;
    font-size: 12px;
    vertical-align: top;
}

.mc-top-search .search_input {
    display: inline-block;
    height: 18px;
    line-height: 18px;
    border: solid 1px #333;
    margin: 0px;
    vertical-align: top;
}

.main-page-body .mc-body {
    postion: relative;
    dislay: block;
}

.main-page-body .mc-body .mc-left-col {
    float: left;
}


.main-page-body .mc-body .mc-right-col {
    display: inline-block;
    width: 200px;
    float: right;
    margin-top: 5px;
    border-top: solid 5px #3B5998;
}

.mc-right-col .mc_rc_sidebar {
    border-bottom: solid 1px #039;
    margin-top: 5px;
}

.mc_rc_sidebar ul {
    list-style: none;
    margin-left: 5px;
}


.page-footer {
    width: 100%;
    display: inline-block;
    margin-top: 20px;
    border-top: solid 5px #3B5998;
    text-align: center;
    clear: both;
}