## -*- coding: utf-8 -*-

<%inherit file="permission.tmpl" />

<%block name="style">
</%block>

<%block name="javascript">
</%block>

<%block name="main_content">

<!-- 角色管理 -->
<div class="div-box">
  <h4 class="div-box-title">角色管理</h4>
  <div class="div-box-content">
    <div class="div-box-content-left">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>角色名称</th>
            <th>操作</th>
		  </tr>
		  %for r in roles:
		  <tr>
			<td>${ r.role_id }</td>
			<td>${ r.name }</td>
			<td></td>
		  </tr>
		  %endfor
        </thead>
        <tbody>
          <tr>
            <td colspan="3">
              <div>
                &lt; ${ page + 1 } / ${ page_count } &gt;
                <a href="/manage/role?page=${page-1}" class="button">上一页</a>
                <a href="/manage/role?page=${page+1}" class="button">下一页</a>
              </div>
            </td>
      </table>
    </div>

    <div class="div-box-content-right">

    </div>
    
  </div>
</div>
<!-- 角色管理结束 -->

<!-- 角色添加 -->
<div class="div-box">
  <h4 class="div-box-title">角色添加</h4>
  <div class="div-box-content">

    <div class="div-box-content-left">
      <form action="/manage/role/add" method="post" id="addRole_form" class="simple-form">
        <div class="simple-form-line">
          <label for="role_name" class="simple-form-cell">角色名称:</label>
          <input type="text" name="role_name" id="role_name" />
        </div>
        <div class="simple-form-line">
          <label for="parent_role" class="simple-form-cell">上级角色:</label>
		  <div class="simple-form-cell">
			<div class="simple-form-line">
			  <select name="select_parent_role" size="1" id="select_parent_role">
				%for r in all_roles:
				<option value="${ r.role_id }">${ r.name }</option>
				%endfor
			  </select>
			  <input type="button" class="button" value="添加" id="btn_addParentRole" />
			</div>

			<div class="simple-form-line">
			  <select name="parent_role" size="5" multiple="multiple" id="parent_role">
			  </select>
			  <input type="button" class="button" value="删除" id="btn_delParentRole" />
			</div>
		  </div>
		  
        </div>
        <div class="simple-form-line">
          <input type="submit" class="button" value="添加角色" />
        </div>
      </form>
    </div>

    <div class="div-box-content-right">
    </div>
    
  </div>
</div>
<script type="text/javascript">
	$('#addRole_form').submit(function() {
		try {
			var parent_role = [];
			$('#parent_role > option').each(function() {
				parent_role.push($(this).attr('value'));
			});
			
			$.ajax({
				url: $(this).attr('action'),
				type: $(this).attr('method'),
				dataType: 'json',
				data: { role_name: $('#role_name').val(), parent_role: parent_role },
				traditional: true, 
				success: function(data) {
					if (data) {
						alert(data.msg);
					}
				},
				error: function() {
					alert('AJAX ERROR!!!');
				}, 
			});
		} catch(err) {
			alert("ERROR : " + err);
		}
		return false;
	});

$(function() {
	$('#btn_addParentRole').click(function() {
		$('#select_parent_role > option:checked').each(function() {
			new_opt = $('<option>');
			new_opt.attr('value', $(this).attr('value'));
			new_opt.html($(this).html());
			$('#parent_role').append(new_opt);
		});
	});

	$('#btn_delParentRole').click(function() {
		$('#parent_role > option:checked').remove()
	});
});


</script>
<!-- 角色添加结束 -->

</%block>



